@charset "UTF-8";

.hdd, legend {
    font-size:0;
    width:0;
    height:0;
    text-indent:-9999px;
    position:absolute;
    top:0;
    left:0;
    overflow:hidden;
}
table {border-spacing:0;}

.noticeArea {
    max-width:1224px;
    margin:0 auto;
    padding:200px 0;
    text-align:center;
}
.notice_title {}
.notice_title h1 {
    font-size:45px;
    margin-bottom:20px;
}

.notice_tab {}
.notice_tabList {
    font-size:20px;
}

.notice_table {
    margin-top:30px;
}
.notice_table .listTbl {
    width:100%;
    border-top:1px solid #111;
}
.notice_table th, .notice_table td {
    padding:16px 0;
    box-sizing:border-box;
}
.notice_table th {
    font-weight:400;
    background:#f1f1f1;
    border-bottom:1px solid #111;
}
.notice_table td {
    border-bottom:1px solid #111;
}
.notice_table td:nth-child(1) {width:15%;}
.notice_table td:nth-child(2) {
    width:70%;
    text-align: left;
    padding-left:20px;
}
.notice_table td:nth-child(3) {width:15%;}




